{% extends 'base.html.twig' %}

{%  block body %}

    <section class="bg-img1 txt-center p-lr-15 p-tb-92">
        <center> <img style="margin-left: -105px;" src="{{ asset('tshop/images/bg-01.jpg') }}"> </center>
        <h2 class="ltext-105 cl0 txt-center">
            Contact
        </h2>
    </section>




    <section class="bg0 p-t-104 p-b-116">
        <div class="container">
            <div class="flex-w flex-tr">

                <div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
                    <div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-map-marker"></span>
						</span>

                        <div class="size-212 p-t-2">
                            <span class="mtext-110 cl2">Address</span>
                            <p class="stext-115 cl6 size-213 p-t-18">boujaafer sousse 4002</p>
                        </div>
                    </div>

                    <div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-phone-handset"></span>
						</span>

                        <div class="size-212 p-t-2">
                            <span class="mtext-110 cl2">Numero de Telephone:</span>
                            <p class="stext-115 cl1 size-213 p-t-18">55355474</p>
                            <p class="stext-115 cl1 size-213 p-t-18">73552520</p>

                            </p>
                        </div>
                    </div>

                    <div class="flex-w w-full">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-envelope"></span>
						</span>

                        <div class="size-212 p-t-2">
							<span class="mtext-110 cl2">
								Adresse Mail:
							</span>

                            <p class="stext-115 cl1 size-213 p-t-18">
                            Admin.Shop@gmail.com
                            </p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Map -->
    <div class="map">
        <div class="size-303" id="google_map" data-map-x="40.691446" data-map-y="-73.886787" data-pin="images/icons/pin.png" data-scrollwhell="0" data-draggable="1" data-zoom="11"></div>
    </div>


{% endblock %}