{% extends 'base.html.twig' %}
{% block header %}   {% endblock %}

{% block slider %}  {% endblock %}
{% block body %}
<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
        <center> {% block title %}modify your shop{% endblock %} </center>

    {{ form_start(form, {'method': 'post','attr': {'novalidate': 'novalidate'}}) }}
    <fieldset>
        <div class="form-group">
            {{ form_label(form.nom) }}
            {{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}
        </div>
    </fieldset>
    {{ form_end(form) }}
    </div>
</div>
{% endblock %}